---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all | sortByUrl %}
  {%- if item.url and item.url != "/sitemap.xml" and not item.data.noindex and not item.data.pagination and "/go/" not in item.url %}
  <url><loc>{{ site.url }}{{ item.url }}</loc>{% if item.data.updatedAt %}<lastmod>{{ item.data.updatedAt | isoDate }}</lastmod>{% elif item.url == "/updates/" and monitor.publication.lastSuccessfulRefresh %}<lastmod>{{ monitor.publication.lastSuccessfulRefresh | isoDate }}</lastmod>{% elif item.data.publishedAt %}<lastmod>{{ item.data.publishedAt | isoDate }}</lastmod>{% endif %}</url>
  {%- endif %}
{%- endfor %}
{%- for op in operators %}
  <url><loc>{{ site.url }}/redemption-times/{{ op.slug }}/</loc><lastmod>{{ op.verifiedAt | isoDate }}</lastmod></url>
{%- endfor %}
{%- for s in collections.closedStates %}
  <url><loc>{{ site.url }}/availability/{{ s.slug }}/</loc><lastmod>{{ s.statusDate | default("2026-09-09") | isoDate }}</lastmod></url>
{%- endfor %}
</urlset>
